@font-face {
  font-family: "cairo";
  src: url(../fonts/Cairo-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "cairo";
  src: url(../fonts/Cairo-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "cairo";
  src: url(../fonts/Cairo-SemiBold.ttf);
  font-weight: 600;
}

/*global vars */

$fontFamily: "cairo";
$grayColor: #b9b9b9;
$orangeColor: #ff7643;

body {
  padding-bottom: 80px;
}
*:not(.fas, .fa, .fab) {
  font-family: $fontFamily;
}

/*global classes */

.main_nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 18px #eee;
  padding-right: 36px;
  padding-left: 36px;
  background-color: #fff;
  a {
    display: flex;
  }
  a.active {
    svg {
      stroke: $orangeColor;
    }
  }
}


.checkout_footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 24px ;
  border-radius: 16px 16px 0 0 ;
  box-shadow: 0 0 16px #eee;
  align-items: center;
  background: #fff;
  z-index: 8888;
  .total_amount{
    .bill_icon{
      background-color: #f4f4f4;
      padding: 8px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
    }
    span{
      color:$grayColor;
      font-size: 14px;
      font-weight: 600;
    }
    p{
      margin: 0;
      font-weight: bold;
    }
  }
  .checkout{
    background-color: $orangeColor;
    text-decoration: none;
    color: #fff;
    padding: 8px 36px;
    font-weight: 600;
    border-radius: 16px;
  }
}

.checkout{
  background-color: $orangeColor;
  text-decoration: none;
  color: #fff !important;
  padding: 8px 36px;
  font-weight: 600;
  border-radius: 16px;
  text-decoration: none !important;
}

.login__form {
  .form-group {
    margin-bottom: 24px;
    color: $grayColor;
    svg {
      position: absolute;
      right: 16px;
      top: 12px;
    }
  }
  input, textarea {
    outline: none;
    border: 1px solid $grayColor;
    padding: 12px 32px;
    border-radius: 20px;
    &::placeholder {
      color: $grayColor;
    }
  }
  input[type="file"]{
    position: absolute;
    left: 0;
    border: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 8888;
    opacity: 0;
  }
  label.custom_label {
    position: absolute;
    top: -10px;
    left: 27px;
    background-color: #fff;
    padding: 0 8px;
    margin: 0;
    font-size: 14px;
  }
  .submit {
    border: none;
    outline: none;
    padding: 8px;
    background-color: $orangeColor;
    color: #fff;
    border-radius: 20px;
  }
  .more_options {
    margin-top: 45px;
    p {
      text-align: center;
      color: $grayColor;
      margin: 0;
      a {
        color: $orangeColor;
        text-decoration: none;
      }
    }
  }
}

/*login_page*/

.login_page {
  padding: 24px 0;
  font-weight: 600;
  .back_btn {
    a {
      text-decoration: none;
      color: #000;
      i {
        font-size: 24px;
      }
    }
  }
  h2 {
    font-weight: bold;
  }
  p {
    color: $grayColor;
    margin-bottom: 46px;
  }

}

/*home page */

.upper_bar {
  padding: 24px 0;
  .search_bar {
    width: 75%;
    input {
      width: 100%;
      border: none;
      background-color: #f4f4f4;
      padding: 12px 8px 12px 36px;
      border-radius: 16px;
      outline: none;
      &::placeholder {
        color: #838383;
        font-weight: 600;
      }
    }
    svg {
      position: absolute;
      left: 12px;
      top: 14px;
    }
  }
  .cart__link {
    display: flex;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 50%;
  }
}

.discount_badge {
  .wrapper {
    background-color: #4a3298;
    border-radius: 16px;
    padding: 16px;
    color: #fff;
    margin-bottom: 24px;
    span {
      font-size: 15px;
    }
    h3 {
      margin-bottom: 0;
    }
  }
}

.categories {
  ul {
    margin-bottom: 24px;
    li {
      margin-inline-end: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;
      a {
        text-decoration: none;
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffecdf;
        border-radius: 12px;
        @media (max-width: 575px) {
          width: 45px;
          height: 45px;
        }
      }
      @media (max-width: 575px) {
        &:last-of-type {
          margin: 0;
        }
        span {
          font-size: 14px;
          color: #838383;
          margin-top: 4px;
        }
      }
    }
    @media (max-width: 575px) {
      justify-content: space-between;
    }
  }
}

/*special */

.special {
  .heading {
    margin-bottom: 24px;
    a {
      text-decoration: none;
      color: $grayColor;
    }
  }
  .special_products {
    overflow-x: auto;
    margin-bottom: 24px;
    .product {
      width: 200px;
      height: 100px;
      border-radius: 16px;
      background-image: url(../imgs/smartphone.webp);
      background-position: center;
      background-size: cover;
      overflow: hidden;
      padding: 12px;
      text-decoration: none;
      margin-inline-end: 12px;
      flex-shrink: 0;
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.2);
        top: 0;
        left: 0;
        z-index: 2;
      }
      .prod_details {
        z-index: 3;
        color: #fff;
        h4 {
          margin: 0;
          font-size: 18px;
        }
        span {
          font-size: 15px;
        }
      }
    }
  }
}

/*most_recent*/

.most_recent {
 
  .recent_products{
    display: flex;
    flex-wrap: wrap;
  }
  .prod_div{
      margin-inline-end: 12px;
      margin-bottom: 24px;
      text-decoration: none;
  }
  .prod_img {
    background-color: #f4f4f4;
    padding: 12px;
    border-radius: 16px;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-fit: cover;
    }
  }
  .prod_name {
    font-size: 15px;
    font-weight: 600;
    margin: 4px 0;
  }
  .prod_details {
    .prod_price {
      font-weight: bold;
      color: $orangeColor;
      font-size: 17px;
    }
    .fav-icon {
      background-color: #f4f4f4;
      padding: 4px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      border-radius: 50%;

      i {
        color: #dbdee4;
      }
    }
  }
}


/*cart*/ 

.cart{
  padding-top: 24px;
  min-height: 100vh;
  padding-bottom: 84px;
  .page_heading{
    i{
      color:#000;
      text-decoration: none;
      margin-inline-end: 16px;
    }
    h4{
      font-weight: 600;

    }
    p{
      color:$grayColor;
    }
  }
  .cart_items{
    .item{
      margin-bottom: 16px;
      .item_img{
        background-color: #f5f6f9;
        border-radius: 16px;
        padding: 16px;
        margin-inline-end: 16px;
        img{
          object-fit: cover;
        }
      }
      .item_details{
        h5{
          font-size: 18px;
          font-weight: 600;
        }
        span{
          color:$orangeColor;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
    
  }
  
}


/*profile*/

.profile {
  .avatar {
    img {
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 32px;
    }
  }
  .user_info {
    .info {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      background-color: #f5f6f9;
      border-radius: 8px;
      margin-bottom: 16px;
      svg {
        margin-inline-end: 12px;
      }
      span {
        color: #ff7643;
      }
    }
  }
}


 /*check_out_page*/  

 .check_out_page{
   padding-bottom: 65px;
   
 }
 .confirm_purchase{
  span{
    color:$grayColor;
    font-weight: 600;
    font-size: 14px;
  }
}

 /*upload_page*/  


 .upload_page{
   .upload_prod{
     position: fixed;
     right: 15px;
     bottom: 80px;
     background-color: $orangeColor;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
   }
 }
 .upload_product_modal{
   .close{
     outline: none ;
   }
   .modal-footer{
     .upload_btn{
       background-color: $orangeColor;
       border-color: $orangeColor;
       color:#fff
     }
   }
 }


 /*prod_details_page*/   


 .prod_details_page{
  text-align: center;
  min-height: calc(100vh - 80px);
  padding-top: 24px;
  background-color: #f4f4f4;
 
 }
 .product_details_footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   border-radius: 16px 16px 0 0;
   background-color: #fff;
   h6{
     font-weight: 600;
     margin-bottom: 28px;
   }
   .prod_desc{
     color: $grayColor;
   }
   .footer_wrapper{
    padding: 24px ;
    .add_to_fav{
      background-color: #f4f4f4;
      position: absolute;
      right: 0;
      top: 25px;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px 0 0 16px;
      cursor: pointer;
      i{
        color:$grayColor;
      }
    }
  }
 }